joblib==1.0.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.19.5
pandas==1.1.5
requests==2.25.1
scikit-learn==0.20.0
scipy==1.5.4
shap==0.39.0
sklearn==0.0
tensorboard==1.11.0
tensorflow==1.11.0
xgboost==1.4.2

